@import "../../variables.scss";

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $layout-background-color;
    padding-block-end: 48px;    
    height: 100vh;

    .title {
        color: $text-color;
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .description {
        font-size: 14px;
        color: $text-second-color;
        text-align: center;
        margin-bottom: 40px;
        padding: 0 20px;
    }

    img {
        width: 100%;
    }

    button {
        margin-inline: 25px;
    }
}

