@import "../../variables.scss";

.root {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin: 15px;
    animation: fadeIn 0.3s forwards;

    .input {
        height: 50px;
        border-radius: 12px;
        border: none;
        background-color: $background-color;
        width: 100%;
        padding-inline: 16px;
    }

    .button {
        height: 50px;
        padding: 16px;
        border: none;
        border-radius: 12px;
        background-color: $button-color;
        color: $text-color;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($button-color, 5%);
        }
    }

    .error {
        font-size: 10px;
        color: $error-color;
    }

    .success {
        font-size: 10px;
        color: $success-color;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}