@import "../../variables.scss";

.root {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    padding-inline: 15px;
    z-index: 1;

    &.active {
        pointer-events: all;
        opacity: 1;
    }

    .formGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;

        .label {
            display: flex;
            gap: 10px;
            color: $text-color;
            position: relative;
        }

        .input {
            width: 100%;
            height: 50px;
            color: $text-second-color;
            border: 1px solid $border-color;
            background-color: transparent;
            border-radius: 12px;
            padding-inline: 10px;

            &:focus {
                border: 1px solid $accent-color;
                transition: all 0.3s;
            }
        
            &:focus + .borderText {
                color: $accent-color;
                transition: all 0.3s;
            }
        }

        .borderText {
            color: $border-color;
            font-size: 10px;
            position: absolute;
            background-color: #28333f;
            z-index: 1;
            padding-inline: 4px;
            top: -8px;
            left: 10px;
        }
    }

    .button {
        width: 100%;
        cursor: pointer;
        background-color: $accent-color;
        border: none;
        border-radius: 12px;
        color: $text-color;
        font-size: 24px;
        font-weight: 700;
        min-height: 56px;
        max-width: 100%;
    }
}

.modal {
    padding: 20px;
    border-radius: 12px;
    background-color: $background-color;
    width: 100%;

    &.active {
        animation: modalFadeIn 0.3s;
    }
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}