@import "../../variables.scss";

.root {
    background-color: $button-color;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;   
    font-size: 24px;
    font-weight: 700;
    min-height: 56px;
    max-width: 100%;
    cursor: pointer;
    border: none;
    transition: background 0.3s ease;

    &:hover {
        background: darken($button-color, 10%);
    }
}