@import "../../variables.scss";

.root {

    .sticky {
        position: sticky;
        top: 0;
        background-color: $layout-background-color;
    }

    h2 {
        font-size: 18px;
        font-weight: 700;
        color: $text-color;
    }

    .titleGroup {
        display: flex;
        justify-content: space-between;
        padding: 15px;


    }

    .toggleShowAll {
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: $text-second-color;
        font-size: 13px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 0 15px 70px 15px;         
    }

    .sceletonCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 0 15px 70px 15px; 
        height: 150px;
        position: relative;
        z-index: -1;
    }
}