$header-color: #393762;
$description-color: #ccc;
$background-color: #28333f;
$input-color: #2f3c50;
$text-color: #fff;
$accent-color: #7b61ff;
$devider-color: #4b576b;
$border-color: #4b576b;

.root {
    .gameContainer {
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ffffff09;
        background-color: #2f3c5061;
        min-height: 72px;
        min-width: 163px;
        border-radius: 12px;
        padding: 15px;

        .gameName {
            font-size: 12px;
            color: #CDCDCD;
        }

        .gameDate {
            font-size: 14px;
            color: $accent-color;
            text-transform: lowercase;
        }

        .gameStatus {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
            letter-spacing: 1px;
            color: $text-color;
        }
    }

}