@import "../../variables.scss";

.root {
    min-height: 58px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    gap: 25px;
    

    .avatarGroup {
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 1;
        cursor: pointer;
        

        img {
            width: 48px; 
            height: 48px;
            border-radius: 50%;
            object-fit: cover;
        }

        p {
            color: $text-color;
            font-size: 15px;
            font-weight: 600;
        }
    }

    .notificationGroup {
        display: flex;
        gap: 10px;        

        .logoutBtn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            
            img {
                width: 24px;
            }
        }
    }
}