@import "../../variables.scss";

.root {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: radial-gradient(circle at 20% 50%, #393762 0%, #28333f 96%);
    padding-block: 10px;

    .divider {
        width: 2px;
        background-color: $devider-color;
    }
}