$header-color: #393762;
$description-color: #ccc;
$background-color: #28333f;
$input-color: #2f3c50;
$text-color: #fff;
$accent-color: #7b61ff;
$devider-color: #4b576b;
$border-color: #4b576b;
$text-second-color: #cdcdcd;