$header-color: #fff;
$description-color: #ccc;

$text-color: #404040;
$text-second-color: #595959;

$devider-color: #4b576b;
$border-color: #4b576b;


$accent-color: #7b61ff;
$primary-color: #7b61ff1d;
$button-color: #7b61ff5a;

$background-color: #f2f2f2;
$layout-background-color: #fff;

$input-color: #f2f2f2;





// $header-color: #393762;
// $description-color: #ccc;
// $background-color: #28333f;
// $input-color: #2f3c50;
// $text-color: #fff;
// $accent-color: #7b61ff;
// $devider-color: #4b576b;
// $border-color: #4b576b;
// $text-second-color: #cdcdcd;