@import "../../variables.scss";

.root {
    background-color: transparent;
    padding-inline: 15px;
    margin-block-end: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container {
        display: flex;
        gap: 10px;

        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .friendName {
                color: $text-color;
                font-size: 14px;
                letter-spacing: 0.2px;
                font-weight: 700;
            }

            .friensStats {
                display: flex;
                align-items: center;

                p {
                    color: $text-second-color;
                    font-size: 12px;
                    padding-inline: 10px;
                    border-right: 1px solid $devider-color;
                }

                p:first-child {
                    padding-inline-start: 0px;
                }

                p:last-child {
                    padding-inline: 10px;
                    border: none;
                }
            }
        }
    }

    .button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        .buttonIcon {
            width: 20px;
        }
    }
}